<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
  <head> 
    <!--  
          please note that this layout was 
          ripped straight from ruby-lang.org 
          with modifications by 
          Chris Bielinski <chris@shadowreactor.com> 
    -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
    <title>Ruby Committers</title> 
    <link rel="stylesheet" type="text/css" href="http://www.ruby-lang.org/stylesheets/low.css" /> 
    <link rel="stylesheet" type="text/css" href="/stylesheets/screen.css" media="screen" /> 
    <link rel="alternate stylesheet" type="text/css" href="http://www.ruby-lang.org/stylesheets/low_vision_screen.css" media="screen" title="Low vision" /> 
    <link rel="stylesheet" type="text/css" href="http://www.ruby-lang.org/stylesheets/print.css" media="print" /> 
    <link rel="shortcut icon" type="image/x-icon" href="http://www.ruby-lang.org/favicon.ico" />  
  </head> 
  <body id="home-page-layout"> 
    <div id="page"> 
      <div id="header"> 
        <div id="logo">
          <%= image_tag 'ruby.gif', :alt => 'Ruby Icon', :title => '' %>
          <h1>Ruby Committers</h1>
          <h2>The people who make it happen...</h2>
          <div class='clear'><!-- --></div>
        </div> 
        <div class="site-links"> 
<a href="/en/downloads/">Downloads</a><span class="separator"> | </span><a href="/en/documentation/">Documentation</a><span class="separator"> | </span><a href="/en/libraries/">Libraries</a><span class="separator"> | </span><a href="/en/community/">Community</a><span class="separator"> | </span><a href="/en/news/">News</a><span class="separator"> | </span><a href="/en/security/">Security</a><span class="separator"> | </span><a href="/en/about/">About Ruby</a> 
        </div> 
      </div> 
      <hr class="hidden-modern" />
      <div id="main-wrapper"> 
        <div id="main"> 
          <div id="content-wrapper"> 
            <div id='spotlight'>
              <div id='portrait'><img src='http://upload.wikimedia.org/wikipedia/commons/7/76/Yukihiro_Matsumoto.JPG'></div>
              This is something that will go here, fool!
            </div>
            <div id="content"> 
              <%#= yield %>
            </div> 
          </div> 
          <div class="foot"> 
            <div class="site-links"> 
<a href="/en/downloads/">Downloads</a><span class="separator"> | </span><a href="/en/documentation/">Documentation</a><span class="separator"> | </span><a href="/en/libraries/">Libraries</a><span class="separator"> | </span><a href="/en/community/">Community</a><span class="separator"> | </span><a href="/en/news/">News</a><span class="separator"> | </span><a href="/en/security/">Security</a><span class="separator"> | </span><a href="/en/about/">About Ruby</a> 
            </div> 
          </div> 
        </div> 
      </div> 
      <div id="search-box"> 
<form id="search-form" action="http://www.google.com/cse"> 
  <table class="fieldset"> 
    <tr> 
      <td> 
        <input class="field" type="text" name="q" size="31" style="background: white url(http://www.google.com/coop/intl/en/images/google_custom_search_watermark.gif) left no-repeat" onfocus="this.style.background='white'" onblur="if (/^\s*$/.test(this.value)) this.style.background='white url(http://www.google.com/coop/intl/en/images/google_custom_search_watermark.gif) left no-repeat'"/> 
      </td> 
      <td> 
        <input type="hidden" name="cx" value="013598269713424429640:g5orptiw95w" /> 
        <input type="hidden" name="ie" value="UTF-8" /> 
        <input class="button" type="submit" name="sa" value="Search" /> 
      </td> 
    </tr> 
  </table> 
</form> 
      </div> 
      <div id="footer"> 
        <div class="fine-print"> 
          <p>Content available in <a href="/en/">English</a>, <a href="/fr/">French</a>, <a href="/ja/">Japanese</a>, <a href="/ko/">Korean</a>, <a href="/pl/">Polish</a>, <a href="/es/">Spanish</a>, <a href="/pt/">Portuguese</a>, <a href="/zh_cn/">Simplified Chinese</a>, <a href="/zh_TW/">Traditional Chinese</a>, <a href="/id/">Bahasa Indonesia</a>, <a href="/de/">German</a>, <a href="/it/">Italian</a>, <a href="/cs/">Czech</a> and <a href="/bg/">Bulgarian</a>.</p> 
          <p>This website is made with Ruby and powered by <a href="http://radiantcms.org">Radiant CMS</a>.
            It is proudly maintained by <a href="http://rubyidentity.org">members of the Ruby community</a>. Please contact
            our <a href="mailto:webmaster@ruby-lang.org">webmaster</a> for questions or comments
            concerning this website.</p> 
        </div> 
      </div> 
    </div> 
  </body> 
</html>